<div class="container" style=" margin-top: 7vw; ">
  <div class="row">

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://i.pinimg.com/736x/76/37/15/763715c333a67bfd275cb6b09d875858.jpg" class="card-img-top" alt="Earrings" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Earrings</h5>
          <p class="card-text">Set of Golden Earrings</p>
          <a class="btn btn-primary" [routerLink]="['/Products-component']"> Details</a>

          <div class="d-flex justify-content-between">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://i.pinimg.com/736x/22/c8/41/22c84103def39b40d53cfe38a9366f56.jpg" class="card-img-top" alt="Hair Clips" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Hair Clips</h5>
          <p class="card-text">Set of Golden Hair Clips</p>
          <a class="btn btn-primary" [routerLink]="['/Products-component']"> Details</a>

          <div class="d-flex justify-content-between">
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://i.pinimg.com/736x/5c/b8/53/5cb853ff104592e26ecc59eb861a8ad7.jpg" class="card-img-top" alt=" Belts" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Belts</h5>
          <p class="card-text">Set of Leather Belts</p>
          <a class="btn btn-primary" [routerLink]="['/Products-component']"> Details</a>

          <div class="d-flex justify-content-between">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
