<p>home works!</p>

<!--string interpolation-->
<!--<h1>Welcome, {{ username }}!</h1>-->

<!--property binding-->
<!--<img [src]="imageUrl" alt="Dynamic Image">-->

<!--event binding-->
<!--<button (click)="showMessage()"> Click Me</button>-->

<!--Two-Way Data Binding-->
<!--<input [(ngModel)]="name" placeholder="Enter your name">

<input [(ngModel)]="age" type="number" placeholder="Enter your age">

<p> {{ name }} is {{age}} years old.</p>-->
<!--Structural Directives-->
<!--If Directive-->
<!--<div *ngIf="true">
  <h3 style="color: rebeccapurple;">Good Morning! </h3>
</div>-->

<!--ngIf else Directive-->
<!--<div *ngIf="false;else id_selector">

  <h1 [ngStyle]="{'color':'Green'}">
    This is Structural Directive
    If Part
  </h1>
</div>

<ng-template #id_selector>
  <h1 [ngStyle]="{'color':'Blue'}">
    This is Structural Directive
    Else Part
  </h1>
</ng-template>-->
<!--ngFor Directive-->
<!--<ul>
  <li *ngFor="let user of users, let i = index">
    {{ user.name }} - {{ user.email }} - {{ i }}
  </li>
</ul>-->

<!--ngSwitch Directive-->
<!--<div [ngSwitch]="user">
  <div *ngSwitchCase="'Yousef'">Yousef shift starts at 8 :00 AM</div>
  <div *ngSwitchCase="'Yamen'">Yamen shift starts at 6:00 PM</div>
  <div *ngSwitchCase="'Yaseer'">Yaser shift starts at 12:00 AM</div>

  <div *ngSwitchDefault>The Employee is not found'</div>
</div>-->


<!--<h2>Welcome, {{ userName }}!</h2>-->


