
<div class="bg container-fluid">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <form class="custom-form shadow" #update="ngForm" (ngSubmit)=" UpdateVoucher(update.value)">

          <h3 class="text-center text-dark mb-4"> Add Voucher</h3>
          <div class="mb-6">
            <label for="name" class="form-label">Voucher Name</label>
            <input type="text" class="form-control" name="name" ngModel [(ngModel)]="VoucherContainer.name" required>
          </div>
          <br />
          <div class="mb-6">
            <label for="text" class="form-label">Voucher Price</label>
            <input type="text" class="form-control" name="price" ngModel  [(ngModel)]="VoucherContainer.price" required>
          </div>
          <br />
          <div class="mb-6">
            <label for="text" class="form-label">Voucher Quantity</label>
            <input type="text" class="form-control" name="quantity" ngModel [(ngModel)]="VoucherContainer.quantity" required>
          </div>


          <br />


          <button type="submit" class="btn custom-btn w-100">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
