<p>editcategory works!</p>

<p>add-category works!</p>


<div class="bg container-fluid">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <form class="custom-form shadow" #edit="ngForm" (ngSubmit)="EditCategory(edit.value)">
          
            <h3 class="text-center text-dark mb-4"> Edit</h3>
            <div class="mb-6">
              <label for="name" class="form-label">Category Name</label>
              <input type="text" class="form-control" name="name" ngModel [(ngModel)]="CategoryContent.name"  required>
            </div>
            <div class="mb-6">
              <label for="text" class="form-label">Category Image</label>
              <input type="text" class="form-control" name="img" ngModel [(ngModel)]="CategoryContent.img"  required>
            </div>





          <button type="submit" class="btn custom-btn w-100">Edit Category</button>
        </form>
      </div>
    </div>
  </div>
</div>
